.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; /* auto will center the element horizontally */
    width: 100%;
    z-index: 1; /*to make the navbar show on top of the image */
  }
  
  .navMenu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0 30%; /* % instead of rem or px for better resposivity */
  }

.navLinks {
    text-decoration: none;
    color: white;
}

.navLinks:hover {
    color: #ffbf00;
}

@media screen and (max-width: 850px) {
    .navMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        align-items: stretch;
        padding: 20px 0 20px 0;
        margin: 0;
    }
    .navLinks {
        display: block;
        width: 100%;
    }
}