.navMenu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    padding: 0 30rem;
}

.navLinks {
    text-decoration: none;
    color: black;
}

.navLinks:hover {
    color: #ffbf00;
}

@media screen and (max-width: 1300px) {
    .navMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        align-items: stretch;
        padding: 20px 0 20px 0;
        margin: 0;
    }
    .navLinks {
        display: block;
        width: 100%;
    }
}