
.welcome {
    margin: 4rem;
}
  
  .first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 4rem;
  }
  
  .des-text {
    width: 100%;
    max-width: 600px;
    text-align: start;
    font-size: 1.1rem;
  }
  
  .des-text h1 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  
  .welcomeImg {
    position: relative;
    width: 100%;
    z-index: 1;
}
.welcomeImg img {
    width: 99%;
    height: 350%;
    object-fit: cover;
}
@media screen and (max-width: 1030px) {
    .welcome {
        margin: 2rem;
      }
    .first-des {
        display: flex;
        flex-direction: column;
    }
    .first-des {
        gap: 3rem;
      }
      .des-text {
        text-align:center;
        width: 100%;
      }
      .welcomeImg {
        width: 100%;
        margin: 1.8rem 0;
    }
    .welcomeImg img {
        height: 450px;
    }
}